* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
}

header {
  background-color: #000;
  height: 70px;
  width: 100%;
}

header .wrapHeadNavigazione {
  display: flex;
  height: 70px;
}

header .wrapHeadNavigazione > div {
  width: 50%;
  height: 100%;
}

header .wrapHeadNavigazione .wrapLogo {
  line-height: 70px;
}

.allMainContent {
  display: flex;
  width: 100%;
  height: calc(100vh - 70px);
  background-color: yellow;
}

.allMainContent aside {
  width: 20%;
  height: 100%;
  background-color: #dbdbdb;
}

.allMainContent aside .wrapMenuPilota {
  height: 100%;
}

.allMainContent aside .wrapMenuPilota .wrapMenuPilotaTitle {
  padding-top: 20px;
  padding-left: 10px;
  display: flex;
}

.allMainContent aside .wrapMenuPilota .wrapMenuPilotaTitle div {
  display: flex;
  align-items: center;
}

.allMainContent aside .wrapMenuPilota .wrapMenuPilotaTitle div .titoliMenu {
  font-size: 20px;
  font-weight: bold;
}

.allMainContent aside .wrapMenuPilota .wrapMenuPilotaTitle div .ico {
  height: 20px;
  margin-right: 5px;
}

.allMainContent aside .wrapMenuPilota .wrapMenuNav {
  padding-top: 10px;
}

.allMainContent aside .wrapMenuPilota .wrapMenuNav .menu {
  height: 100%;
  padding-left: 35px;
}

.allMainContent aside .wrapMenuPilota .wrapMenuNav .menu ul {
  list-style-type: none;
}

.allMainContent aside .wrapMenuPilota .wrapMenuNav .menu ul .elemento {
  color: #5a5a5a;
}

.allMainContent aside .wrapMenuPilota .wrapMenuNav .menu ul .elemento a {
  color: #5a5a5a;
  text-decoration: none;
}

