.allMainContent {
  display: flex;
  width: 100%;
  height: calc(100vh - 70px);

  & aside {
    width: 20%;
    height: 100%;
    background-color: $grigio;

    .wrapMenu {
      margin-bottom: 20px;
      .wrapMenuTitle {
        padding-top: 20px;
        padding-left: 10px;
        display: flex;
        div {
          display: flex;
          align-items: center;
          .titoliMenu {
            font-size: 20px;
            font-weight: bold;
          }
          .ico {
            height: 20px;
            margin-right: 5px;
          }
        }
      }
     .wrapMenuNav {
       padding-top:10px;
       .menu {
         height: 100%;
         padding-left: 35px;
         ul {
           list-style-type: none;
           .elemento {
             color: $grigioScuro;
             margin-top: 5px;
             width: 100%;

             a {
               color: $grigioScuro;
               text-decoration: none;
               &:hover {
                 background-color: rgb(71, 171, 123);
                 padding-top: 5px;
                 padding-bottom: 5px;
                 padding-right: 30px;
                 padding-left: 30px;
                 font-weight: bold;
                 color: #fff;

               }
             }
           }
         }
       }
     }
    }

  }
}
